{% extends "base.html" %}
{% load static %}

{% block title %}About - {% endblock %}

{% block content %}
<h1>About</h1>
<p>
    This is an attempt to improve the leaderboard of the mobile game Subterfuge.
</p>
<p>
    I download the official leaderboard once a day to provide a history.
    I started with archiving on the 25th of September 2021.
    There is some older data available that was downloaded from the web archive's wayback machine.
    If you happen to have historical leaderboard data in any shape, I would be happy if you would get in touch with me.
    (<a href="mailto:subterfuge@kralofsky.com">mail</a>, <a href="https://telegram.me/bernikr">telegram</a>)
</p>
<p>
    Many thanks to Alex Freeman for providing almost a year of data from the end of 2017 to the middle of 2018 that he
    collected for
    <a href="https://medium.com/@alexjf12/state-of-the-sub-2018-so-far-d8c9fff8666c">
        his analysis articles during that time.
    </a>
</p>
<p>
    If you want to support this project you can <a href="https://github.com/bernikr/subterfuge-leaderboard">contribute
    on github</a> or <a href="https://www.buymeacoffee.com/bernikr">donate a coffee</a>.
</p>
{% endblock %}
