<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Player</th>
        <th scope="col">Rating</th>
        <th scope="col" class="d-none d-sm-table-cell">Gold</th>
        <th scope="col" class="d-none d-sm-table-cell">Silver</th>
        <th scope="col" class="d-none d-sm-table-cell">Bronze</th>
        <th scope="col" class="d-none d-md-table-cell">Rated Games</th>
        <th scope="col" class="d-none d-md-table-cell">Total Games</th>
        <th scope="col" class="d-none d-xl-table-cell">Finished</th>
        <th scope="col" class="d-none d-xl-table-cell">Eliminated</th>
        <th scope="col" class="d-none d-xl-table-cell">Resigned</th>
    </tr>
    </thead>
    <tbody>
    {% for e in leaderboard_entries %}
    <tr class="{% if e.player == player %}table-active{% endif %}">
        <th scope="row">{{ e.rank }}</th>
        <td><a href="{% url 'player' e.player.name %}">{{ e.player.name }}</a></td>
        <td>{{ e.elo }}</td>
        <td class="d-none d-sm-table-cell">{{ e.gold }}</td>
        <td class="d-none d-sm-table-cell">{{ e.silver }}</td>
        <td class="d-none d-sm-table-cell">{{ e.bronze }}</td>
        <td class="d-none d-md-table-cell">{{ e.ratedgames }}</td>
        <td class="d-none d-md-table-cell">{{ e.totalgames }}</td>
        <td class="d-none d-xl-table-cell">{{ e.finished }}%</td>
        <td class="d-none d-xl-table-cell">{{ e.eliminated }}%</td>
        <td class="d-none d-xl-table-cell">{{ e.resigned }}%</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
